button.managerAdd {
    display: block;
    width: 50%;
    font: normal 14px / 40px '微软雅黑';
    color: #fff;
    text-align: center;
    margin: 10px 0px;
    border: 0px;
    background: #ff6161;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

button.managerAdd {
    display: block;
    width: 50%;
    font: normal 14px / 40px '微软雅黑';
    color: #fff;
    text-align: center;
    margin: 10px 0px;
    border: 0px;
    background: #ff6161;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

button.elementGrayButton {
    display: block;
    width: 120px;
    font: normal 14px / 40px '微软雅黑';
    color: #fff;
    text-align: center;
    margin: 10px 0px;
    border: 0px;
    background: #aaaaaa;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

button.elementButton {
    display: block;
    width: 120px;
    font: normal 14px / 40px '微软雅黑';
    color: #fff;
    text-align: center;
    margin: 10px 0px;
    border: 0px;
    background: #ff6161;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

input.elementButton {
    color: #fff;
    width: 120px;
    height: 50px;
    background: #ff6161;
    margin: 10px 0px;
    border: 0px;
    border-radius: 4px;
}

table  {  
    border-collapse: collapse;  
}  
table td, table th  {  
    margin: 10px 10px 10px 10px;
    border: 1px solid #cad9ea;  
    color: #666;   
}  
table tr:nth-child(odd)  {  
    background: #fff;  
}  
table tr:nth-child(even)  {  
    background: #F5FAFA;  
}  
